* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}



html {
	scroll-behavior: smooth;
}


#headerLogo {
	color: white;
}

#navText {
	color: white;
}

/*Banner CSS*/

#banner {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
}

#bannerText{
	font-size: 4vh;
	text-transform: uppercase;
}

.bannerTitle{
	font-size: 7vh;
}
  
#bannerBG {
	background-image:  linear-gradient(
		rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, 0.3)
	  ), url("../images/city_bg.webp");
	/*background-image: linear-gradient(to left, #6b6b6b, #141414);*/
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
	margin: 0 auto;
	color: #ebebeb;
	background-blend-mode: darken;
/*    display: flex;*/
}

.circle {
	border-radius: 50%;
	background-color: #00ddff;
	width: 15vh;
	height: 15vh;
	text-align: center;
	margin: 0 auto;
	/*position: absolute;*/
	opacity: 0;
	animation: scaleIn 4s infinite cubic-bezier(.36,.11,.89,.32);
}



@keyframes scaleIn {
	0% {
		transform: scale(0.5);
		opacity: .5;
	}
	30% {
		transform: scale(1.5);
		opacity: 0.3;
	}
	50% {
		transform: scale(2.0);
		opacity: 0.3;
	}
	100% {
		transform: scale(2.8);
		opacity: 0.5;
	}
	
}

/*Navbar CSS*/

/*#headerLogo {
	font-family: 'Long Cang', cursive;
}
*/

#navbar-nav li:hover{
	border-bottom: 3px solid #fff;
}

#navbar-nav li.active{
	border-bottom: 3px solid #fff;
}

/*Home CSS*/

#text1{
	text-shadow: 4px 3px #4f4f4f;
}

#text2, #text4{
	text-shadow: 4px 3px #8a8a8a;
}


#text3, #text5{
	text-shadow: 2px 3px #4f4f4f;
}

#content1{
	font-weight: bold;

}

#divPic {
	text-align: center;
}

#homePic {
	height: 15em;
	width: 15em;
	text-align: center;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #000;

}

hr.line1, hr.line3, hr.line5{
	border: 1px solid black;
}

hr.line2, hr.line4, hr.line6{
	border: 1px solid white;
}


/*Skill CSS*/

.icon {
	font-size: 15vh;
}



/*Footer CSS*/
#socialIcon {
	font-size: 5vh;
	/*border-style: solid;
	border-width: 2px;
	border-radius: 50%;*/
}


#gototop {
	display: none;
	position: fixed;
	bottom: 5%;
	right: 5%;
	border: none;
	outline: none;
	z-index: 99;
	cursor: pointer;
}
